body {
    margin: 0;
}

.container {
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: space-around;
    background-color: #6D28D9;
    box-sizing: border-box;
    max-height: 385px;
}

.container h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
}

.score1,
.score2 {
    text-align: center;
    background-color: #111827;
    color: #059669;
    font-family: "Cursed Timer ULiL";
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    margin-bottom: 6px;
}

.btn-plus1,
.btn-plus2,
.btn-plus3 {
    font-family: "Cursed Timer ULiL";
    color: #38BDF8;
    border: 1px solid #38BDF8;
}

.reset-btn {
    background: #E11D48;
    border-radius: 5px;
    outline: none;
    border: 4px solid #FBBF24;
}

.leader {
    color: #9F1239;
}